<div class="tab-pane" id="v-pills-AllItems" role="tabpanel"
     aria-labelledby="v-pills-Users">
  <div>
    <h2>Список всех товаров</h2>
    <div class="marginTop">
      <div class="row">
        <div class="col-1"><span>Поиск:</span></div>
        <div class="col-7">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark"
                   placeholder="введите данные поиска" aria-label="Search">
          </form>
        </div>
        <div class="col">
          <div class="d-grid gap-1">
            <button data-bs-toggle="modal" data-bs-target="#itemAddForm" class="btn btn-success">Добавить товар</button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped marginTop">
          <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Цена</th>
            <th>Категория</th>
            <th>Картинки</th>
            <th>Обзоры</th>
            <th>Количество</th>
            <th>Рейтинг</th>
            <th>Описание</th>
            <th>Скидка</th>
            <th>Редактирование</th>
            <th>Удаление</th>
          </tr>
          </thead>
          <tbody id="itemsTable">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>