<div class="tab-pane" id="v-pills-AllUsers" role="tabpanel"
     aria-labelledby="v-pills-Users">
    <div>
        <h2>Список всех пользователей</h2>
        <div class="marginTop">
            <div class="row">
                <div class="col-1"><span>Поиск:</span></div>
                <div class="col-7">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark"
                               placeholder="введите данные поиска" aria-label="Search">
                    </form>
                </div>
                <div class="col">
                    <div class="d-grid gap-1">
                        <button data-bs-toggle="modal" data-bs-target="#userAddFormModal" class="btn btn-success">Создать пользователя</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="table-responsive">
                <table class="table table-striped marginTop">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Электронная почта</th>
                        <th>Имя пользователя</th>
                        <th>Пароль</th>
                        <th>Код активации</th>
                        <th>Телефон</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Возраст</th>
                        <th>Адрес</th>
                        <th>Роли</th>
                        <th>Пол</th>
                        <th>Дата рождения</th>
                        <th>Картинки</th>
                        <th>Купоны</th>
                        <th>Корзина</th>
                        <th>Заказы</th>
                        <th>Отзывы</th>
                        <th>Магазины</th>
                        <th>Избранное</th>
                        <th>Скидки</th>
                        <th>Редактирование</th>
                        <th>Удаление</th>
                    </tr>
                    </thead>
                    <tbody id="usersTable">
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>