<div id="userShopAddForm" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Добавление магазина</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Название :</label>
                            <input type="text" class="form-control"
                                   id="shopNameAdd" name="shopNameAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Электронная почта:</label>
                            <input type="text" class="form-control"
                                   id="shopEmailAdd"
                                   name="shopEmailAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Телефон:</label>
                            <input type="text" class="form-control"
                                   id="phoneNumberAdd" name="phoneNumberAdd">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Описание:</label>
                            <input type="text" class="form-control"
                                   id="descriptionAdd" name="descriptionAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Адрес:</label>
                            <input type="text" class="form-control"
                                   id="locationAdd" name="locationAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Логотип:</label>
                            <input type="file" class="form-control"
                                   id="logoAdd" name="logoAdd">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>