<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>My shop</title>
    <style>
        .img-thumbnail {
            width: 400px;
            height: 400px;
            display: inline-block;
            border: 0;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="background: rgba(6,16,20,0.85); color: white;">
        <div class="row">
            <div class="col-4 div-header-left-one">
                <a href="/">
                    <button class="btn btn-warning" type="submit">На главную</button>
                </a>
            </div>
            <div class="col-6 div-header-center d-flex">
                <div class="form-outline">
                    <input class="form-control me-2" type="search" id="searchHomeShopPage" placeholder="Поиск" aria-label="Search">
                </div>
                <button class="btn btn-warning" id="searchHomeShopPageButton" type="submit">Поиск</button>
            </div>
            <div class="col-1 div-header-right-two">
                <h5 sec:authorize="hasAuthority('ADMIN')">
                    <a href="/admin" class="user-tag" id="adminTag" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.username"></a></h5>
                <h5 sec:authorize="hasAuthority('USER')">
                    <a href="/user" class="user-tag" id="userTag" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.username"></a></h5>
            </div>
            <div class="col-1 div-header-right-three" style="text-align: right; padding: 0px 10px">
                <button sec:authorize="isAnonymous()" class="btn btn-outline-warning login-btn"
                        data-toggle="modal" data-target="#staticBackdrop">Войти
                </button>
                <form method="get" action="/logout" class="btn_danger_out">
                    <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Выйти
                    </button>
                </form>
            </div>
        </div>
        <div class="row" style="background-color: white; color: black">
            <div class="d-flex align-items-start">
                <div class="col-2" style="padding: 20px">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Магазин</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Товары</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Добавить товар</button>
                        <button class="nav-link" id="MyBuyers" data-bs-toggle="pill" data-bs-target="#listBuyers" type="button" role="tab" aria-controls="v-pills" aria-selected="false">Заказы</button>
                        <button class="nav-link" id="CreateCoupon" data-bs-toggle="pill" data-bs-target="#listCoupon" type="button" role="tab" aria-controls="v-pills" aria-selected="false">Создать купон</button>
                    </div>
                </div>
                <div class="col-10 bg-light vh-1000" style="background-color: #f5f5f5; padding: 20px 30px">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="shop-info"></div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <!-- items -->
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <div class="modal fade" id="updateModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">  <!-- HEAD-->
                                            <h5 class="modal-title">Edit item</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>  <!-- end HEAD-->
                                        <div class="modal-body "> <!--BODY-->
                                            <div class="row justify-content-center align-items-center">
                                                <form>
                                                    <div class="form-group text-center">
                                                        <input type="number" name="id" id="editId" hidden/><br><br>
                                                        <label for="editName">name</label><br>
                                                        <input type="text" name="name" id="editName" /><br><br>
                                                        <label for="editCount">count</label><br>
                                                        <input type="number" name="count" id="editCount" /><br><br>
                                                        <label for="editPrice">price</label><br>
                                                        <input type="number" name="price" id="editPrice" /><br><br>
                                                        <label for="editDescription">description</label><br>
                                                        <input type="text" name="description" id="editDescription" /><br><br>
                                                        <label for="editRating">Rating</label><br>
                                                        <input type="number" name="rating" id="editRating" /><br><br>
                                                        <label for="editCategoriesName">Categories name</label><br>
                                                        <input type="text" name="categoriesName" id="editCategoriesName" disabled/><br><br>
                                                        <!-- hidden -->
                                                        <input type="hidden" name="shopName" id="editShopName" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div> <!-- end BODY-->
                                        <div class="modal-footer">  <!--FOOTER-->
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="update" class="btn btn-primary" data-dismiss="modal">Edit</button>
                                        </div>  <!-- end FOOTER -->
                                    </div>
                                </div>
                            </div> <!-- end edit modal -->
                        </div>
                        <!-- Add new Item -->
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <form class="add-item" id="myForm">
                                <div class="form-group">
                                    <label for="name">Name</label><br>
                                    <input class="name" type="text" id="name"><br>
                                    <br>
                                    <label for="price">Price</label><br>
                                    <input type="number" id="price"/><br/>
                                    <br>
                                    <label for="description">Description</label><br>
                                    <input type="text" id="description"/><br/>
                                    <br>
                                    <label for="count">Count</label><br>
                                    <input type="number" id="count"/><br/>
                                    <br>
                                    <label for="rating">Rating</label><br>
                                    <input type="number" id="rating"/>
                                    <br/>
                                    <div class="forSelectCategoryNames"></div>
                                    <br>
                                    <label for="image">Image</label><br>
                                    <input type="file" id="image" name="image">
                                    <br>
                                    <button type="button" id="addItem" class="btn btn-md btn-success my-3">Add new Item</button>
                                </div>
                            </form>
                        </div>
                        <!-- List of Buyers -->
                        <div class="tab-pane fade" id="listBuyers" role="tabpanel" aria-labelledby="MyBuyers">
                            <div class="buyerInfo">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Покупатель</th>
                                            <th>Телефон</th>
                                            <th>Товары</th>
                                            <th>Общая сумма</th>
                                            <th>Статус</th>
                                            <th>Купон</th>
                                        </tr>
                                    </thead>
                                    <tbody class="buyerTable">
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade" id="addCoupon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Купоны магазина</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>До</th>
                                                        <th>Статус</th>
                                                        <th>На сумму</th>
                                                        <th>Использовать</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="coupon-table-for-users">

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Создать купон -->
                        <div class="tab-pane fade" id="listCoupon" role="tabpanel" aria-labelledby="CreateCoupon">
                            <form class="add-new-coupon" id="myCouponForm">
                                <div class="form-group">
                                    <label for="end">Срок: ДО:</label><br>
                                    <input type="date" id="end"/><br/>
                                    <label for="sum">На сумму</label><br>
                                    <input type="number" id="sum"/><br/>
                                    <button type="button" id="addNewCoupon" class="btn btn-md btn-success my-3">Add new coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid vh-100 login-form">
                    <div class="login-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="/js/shop-control.js"></script>
    <script src="/js/registration.js"></script>
    <script>

    </script>
</body>
</html>