<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>My shop</title>
    <style>
        .img-thumbnail {
            width: 400px;
            height: 400px;
            display: inline-block;
            border: 0;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <button class="btn btn-warning" type="submit">На главную</button>
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="nav-item">
                        <button type="button" class="btn btn-primary position-relative"> Уведомления
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            <div class="notifications">
                                <!-- for dynamic notifications (here`s no func yet)--> 0
                            </div>
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </button>
                    </div>
                </ul>
                <h5 sec:authorize="hasAuthority('ADMIN')">
                    <a href="/admin" class="user-tag" id="adminTag" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.username"></a></h5>
                <h5 sec:authorize="hasAuthority('USER')">
                    <a href="/user" class="user-tag" id="userTag" sec:authorize="isAuthenticated()"
                       sec:authentication="principal.username"></a></h5>
                <span class="navbar-text" style="margin-left: 20px">
                    <button sec:authorize="isAnonymous()" class="btn btn-outline-warning login-btn"
                            data-toggle="modal" data-target="#staticBackdrop">Войти
                    </button>
                    <form method="get" action="/logout" class="btn_danger_out">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger" type="submit">Выйти
                        </button>
                    </form>
                </span>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" style="background-color: white; color: black">
            <div class="col-2" style="padding: 20px">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Магазин</button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Товары</button>
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Добавить товар</button>
                    <button class="nav-link" id="MyBuyers" data-bs-toggle="pill" data-bs-target="#listBuyers" type="button" role="tab" aria-controls="v-pills" aria-selected="false">Заказы</button>
                    <button class="nav-link" id="myCoupons" data-bs-toggle="pill" data-bs-target="#listCoupons" type="button" role="tab" aria-controls="v-pills" aria-selected="false">Купоны</button>
                    <button class="nav-link" id="btn-show-discounts-shop" data-bs-toggle="pill" data-bs-target="#table-discounts" type="button" role="tab" aria-controls="v-pills" aria-selected="false">Скидки</button>
                </div>
            </div>
            <div class="col-10 bg-light vh-1000" style="background-color: #f5f5f5; padding: 20px 30px">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="shop-info"></div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <!-- items -->
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="modal fade" id="updateModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">  <!-- HEAD-->
                                        <h5 class="modal-title">Edit item</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>  <!-- end HEAD-->
                                    <div class="modal-body "> <!--BODY-->
                                        <div class="row justify-content-center align-items-center">
                                            <form>
                                                <div class="form-group text-center">
                                                    <input type="number" name="id" id="editId" hidden/><br><br>
                                                    <label for="editName">name</label><br>
                                                    <input type="text" name="name" id="editName" /><br><br>
                                                    <label for="editCount">count</label><br>
                                                    <input type="number" name="count" id="editCount" /><br><br>
                                                    <label for="editPrice">price</label><br>
                                                    <input type="number" name="price" id="editPrice" /><br><br>
                                                    <label for="editDescription">description</label><br>
                                                    <input type="text" name="description" id="editDescription" /><br><br>
                                                    <label for="editRating">Rating</label><br>
                                                    <input type="number" name="rating" id="editRating" /><br><br>
                                                    <label for="editCategoriesName">Categories name</label><br>
                                                    <input type="text" name="categoriesName" id="editCategoriesName" disabled/><br><br>
                                                    <!-- hidden -->
                                                    <input type="hidden" name="shopName" id="editShopName" />
                                                </div>
                                            </form>
                                        </div>
                                    </div> <!-- end BODY-->
                                    <div class="modal-footer">  <!--FOOTER-->
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="update" class="btn btn-primary" data-dismiss="modal">Edit</button>
                                    </div>  <!-- end FOOTER -->
                                </div>
                            </div>
                        </div> <!-- end edit modal -->
                    </div>
                    <!-- Add new Item -->
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <form class="add-item" id="myForm">
                            <div class="form-group">
                                <label for="name">Name</label><br>
                                <input class="name" type="text" id="name"><br>
                                <br>
                                <label for="price">Price</label><br>
                                <input type="number" id="price"/><br/>
                                <br>
                                <label for="description">Description</label><br>
                                <input type="text" id="description"/><br/>
                                <br>
                                <label for="count">Count</label><br>
                                <input type="number" id="count"/><br/>
                                <br>
                                <div class="forSelectCategoryNames"></div>
                                <br>
                                <label for="imageInput">Image</label><br>
                                <input type="file" id="imageInput" name="image" accept="image/*">
                                <br>
                                <button type="button" id="addItem" class="btn btn-md btn-success my-3">Add new Item</button>
                            </div>
                        </form>
                    </div>
                    <!-- List of Buyers -->
                    <div class="tab-pane fade" id="listBuyers" role="tabpanel" aria-labelledby="MyBuyers">
                        <div class="buyerInfo">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Покупатель</th>
                                    <th>Телефон</th>
                                    <th>Товары</th>
                                    <th>Общая сумма</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tbody class="buyerTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Shop-Coupons -->
                    <div class="tab-pane fade" id="listCoupons" role="tabpanel" aria-labelledby="myCoupons">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>До</th>
                                    <th>Статус</th>
                                    <th>На сумму</th>
<!--                                    <th>*</th>-->
                                </tr>
                                </thead>
                                <tbody class="coupon-table-in-shop-panel"></tbody>
                            </table>
                        </div>
                        <br>
                        <button type="button" class="btn btn-md btn-success my-3" data-bs-toggle="modal" data-bs-target="#exampleModalForAddNewCoupon">
                            Создать купон
                        </button>
                        <!-- Modal For add new Coupon -->
                        <div class="modal fade" id="exampleModalForAddNewCoupon" tabindex="-1"  aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" > Новый купон </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="add-new-coupon" id="myCouponForm">
                                            <div class="form-group">
                                                <label for="end">Срок: ДО:</label><br>
                                                <input type="date" id="end" required/><br/>
                                                <label for="sum">На сумму</label><br>
                                                <input type="number" min="0" id="sum" required/><br/>
                                            </div>
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab-coupon" role="tablist">
                                                        <a class="nav-item nav-link active first" id="nav-home-tab-coupon" data-toggle="tab"
                                                           href="#tab-clients-for-coupon" role="tab" aria-controls="nav-home" aria-selected="true">Клиенты</a>
                                                        <a class="nav-item nav-link second" id="nav-profile-tab-coupon" data-toggle="tab"
                                                           href="#tab-other-clients-for-coupon" role="tab" aria-controls="nav-profile" aria-selected="false">Потенциальные клиенты</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content" id="nav-tabContent1-coupon">
                                                    <div class="tab-pane fade show active" id="tab-clients-for-coupon" role="tabpanel" aria-labelledby="nav-home-tab-coupon">
                                                        <div class="form-group">
                                                            <select class="form-select" id="clients-coupon"></select>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="tab-other-clients-for-coupon" role="tabpanel" aria-labelledby="nav-profile-tab-coupon">
                                                        <select class="form-select" id="other-clients-coupon"></select>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        <button type="button" id="addNewCoupon" class="btn btn-md btn-success my-3" data-bs-dismiss="modal">Создать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- Discounts :: source shopOwner/shop_add_discount.html -->
                    <div class="tab-pane fade" id="table-discounts" role="tabpanel" aria-labelledby="table-discounts">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Скидки</h3>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-md btn-success my-3" data-bs-toggle="modal" data-bs-target="#discount-modal">
                                        Добавить скидку
                                    </button>
                                    <table class="table table-striped border table-discounts align-middle text-center">
                                        <thead>
                                        <tr>
                                            <th>Мин. сумма заказа</th>
                                            <th>В процентах</th>
                                            <th>Фиксированная</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="modal/shop-add-new-discount-form"/>
                    <div th:replace="modal/shop-apply-discount-form"/>
                </div>
                <div class="container-fluid vh-100 login-form">
                    <div class="login-content"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="/js/discount.js"></script>
    <script src="/js/shop-control.js"></script>
    <script src="/js/registration.js"></script>
</body>
</html>