.container-fluid {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.nav- {
    background-color: gray;
    margin-bottom: 6px;
}
.nav-link {
    color: black !important;
}

.nav-link.active {
    background-color: #b31136 !important;
}
.row .align-items-start{
    margin-top: 10px;
}
.flex-column{
    padding-right: 90px;
}
.card {
    width: 1190px;
    padding: 20px;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: 50% 50%;
}

body {
    overflow-x: hidden;
}

.col-4 {
    width: 100%;
}

.navbar .navbar-nav li a {
    color: white;
    font-size: 16px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.navbar {
    height: 40px !important;
}