<div id="addressAddFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Добавление адреса</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                        <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Индекс:</label>
                            <input type="text" class="form-control"
                                   id="addressIndexAdd" name="addressIndexAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Страна:</label>
                            <input type="text" class="form-control"
                                   id="addressCountryAdd" name="addressCountryAdd">
                        </div>
                            <div class="form-group marginTop">
                                <label>Город:</label>
                                <input type="text" class="form-control"
                                       id="addressCityAdd" name="addressCityAdd">
                            </div>
                        </div>
                        <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Улица:</label>
                            <input type="text" class="form-control"
                                   id="addressStreetAdd" name="addressStreetAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Дом:</label>
                            <input type="text" class="form-control"
                                   id="addressHouseAdd" name="addressHouseAdd">
                        </div>
                        </div>
                </div>
                        <div class="modal-footer marginTop">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                </div>
            </div>
        </div>
    </div>