<div id="cityAddFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Добавление города</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                    <div>
                        <div class="form-group marginTop">
                            <label>Город:</label>
                            <input type="text" class="form-control"
                                   id="cityNameAdd" name="cityNameAdd">
                </div>
                        <div class="form-group marginTop">
                            <label>Страна:</label>
                            <input type="text" class="form-control"
                                   id="countryNameAdd" name="countryNameAdd">
                        </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>