<div id="countryEditFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование страны</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div>
                    <div class="form-group marginTop">
                        <label>ID:</label>
                        <input type="text" class="form-control"
                               id="countryIdEdit"
                               name="countryIdEdit" readonly/>
                    </div>
                    <div class="form-group marginTop">
                        <label>Страна:</label>
                        <input type="text" class="form-control"
                               id="countryNameEdit" name="countryNameEdit">
                    </div>
                    <div class="modal-footer marginTop">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>