<div id="itemAddForm" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Добавить товар</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Имя:</label>
                            <input type="text" class="form-control"
                                   id="itemNameAdd" name="itemNameAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Цена:</label>
                            <input type="text" class="form-control"
                                   id="itemPriceAdd"
                                   name="itemPriceAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Категория:</label>
                            <input type="text" class="form-control"
                                   id="itemCategoryAdd" name="itemCategoryAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Картинки:</label>
                            <input type="text" class="form-control"
                                   id="itemImagesAdd" name="itemImagesAdd">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Обзоры:</label>
                            <input type="text" class="form-control"
                                   id="itemReviewsAdd" name="itemReviewsAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Количество:</label>
                            <input type="text" class="form-control"
                                   id="itemCountAdd" name="itemCountAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Рейтинг:</label>
                            <input type="text" class="form-control"
                                   id="itemRatingAdd" name="itemRatingAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Описание:</label>
                            <input type="text" class="form-control"
                                   id="itemDescriptionAdd" name="itemDescriptionAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Скидка:</label>
                            <input type="text" class="form-control"
                                   id="itemDiscountAdd" name="itemDiscountAdd">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>