<div id="itemEditForm" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование товара</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>ID:</label>
                            <input type="text" class="form-control"
                                   id="itemIdEdit" name="itemIdEdit" readonly>
                        </div>
                        <div class="form-group marginTop">
                            <label>Имя:</label>
                            <input type="text" class="form-control"
                                   id="itemNameEdit" name="itemNameEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Цена:</label>
                            <input type="text" class="form-control"
                                   id="itemPriceEdit"
                                   name="itemPriceEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Категория:</label>
                            <input type="text" class="form-control"
                                   id="itemCategoryEdit" name="itemCategoryEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Картинки:</label>
                            <input type="text" class="form-control"
                                   id="itemImagesEdit" name="itemImagesEdit">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Обзоры:</label>
                            <input type="text" class="form-control"
                                   id="itemReviewsEdit" name="itemReviewsEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Количество:</label>
                            <input type="text" class="form-control"
                                   id="itemCountEdit" name="itemCountEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Рейтинг:</label>
                            <input type="text" class="form-control"
                                   id="itemRatingEdit" name="itemRatingEdit" readonly>
                        </div>
                        <div class="form-group marginTop">
                            <label>Описание:</label>
                            <input type="text" class="form-control"
                                   id="itemDescriptionEdit" name="itemDescriptionEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Скидка:</label>
                            <input type="text" class="form-control"
                                   id="itemDiscountEdit" name="itemDiscountEdit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</div>