<div id="shopEditModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование магазина</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>ID:</label>
                            <input type="text" class="form-control"
                                   id="shopIdEdit" name="shopIdEdit" readonly>
                        </div>
                        <div class="form-group marginTop">
                            <label>Название :</label>
                            <input type="text" class="form-control"
                                   id="shopNameEdit" name="shopNameEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Электронная почта:</label>
                            <input type="text" class="form-control"
                                   id="shopEmailEdit"
                                   name="shopEmailEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Телефон:</label>
                            <input type="text" class="form-control"
                                   id="shopPhoneEdit" name="shopPhoneEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Описание:</label>
                            <input type="text" class="form-control"
                                   id="shopDescriptionEdit" name="shopDescriptionEdit">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Адрес:</label>
                            <input type="text" class="form-control"
                                   id="shopAddressEdit" name="shopAddressEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Логотип:</label>
                            <input type="text" class="form-control"
                                   id="shopLogoEdit" name="shopLogoEdit">
                        </div>
                        <div class="form-group marginTop">
                            <label>Рейтинг:</label>
                            <input type="text" class="form-control"
                                   id="shopRatingEdit" name="shopRatingEdit">
                        </div>
                        <div class="form-label-group marginTop">
                            <label>Владелец, имя пользователя:</label>
                            <input type="text" class="form-control"
                                   id="shopOwnerEdit" name="shopOwnerEdit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</div>