<div id="userAddFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Добавление пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Имя пользователя:</label>
                            <input type="text" class="form-control"
                                   id="userNameAdd" name="userNameAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Электронная почта:</label>
                            <input type="email" class="form-control"
                                   id="userEmailAdd"
                                   name="userEmailAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Пароль:</label>
                            <input type="password" class="form-control"
                                   id="userPasswordAdd" name="userPasswordAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Код активации:</label>
                            <input type="text" class="form-control"
                                   id="userActiveCodeAdd" name="userActiveCodeAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Телефон:</label>
                            <input type="number" class="form-control"
                                   id="phoneNumberAdd" name="phoneNumberAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Имя:</label>
                            <input type="text" class="form-control"
                                   id="userFirstNameAdd" name="userFirstNameAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Фамилия:</label>
                            <input type="text" class="form-control"
                                   id="userLastNameAdd" name="userLastNameAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Возраст:</label>
                            <input type="number" class="form-control"
                                   id="userAgeAdd" name="userAgeAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Адрес:</label>
                            <input type="text" class="form-control"
                                   id="userAddressAdd" name="userAddressAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Пол:</label>
                            <input type="text" class="form-control"
                                   id="userGenderAdd" name="userGenderAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Дата рождения:</label>
                            <input type="date" class="form-control"
                                   id="userBirthdayAdd" name="userBirthdayAdd">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-label-group marginTop">
                            <label>Список ролей:</label>
                            <select multiple class="form-control" id="userRolesAdd" name="roles[]"></select>
                        </div>
                        <div class="form-group marginTop">
                            <label>Картинки:</label>
                            <input type="text" class="form-control"
                                   id="userImageAdd" name="userImageAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Купоны:</label>
                            <input type="text" class="form-control"
                                   id="userCouponAdd" name="userCouponAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Корзина:</label>
                            <input type="text" class="form-control"
                                   id="userCartAdd" name="userCartAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Заказы:</label>
                            <input type="text" class="form-control"
                                   id="userOrdersAdd" name="userOrdersAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Отзывы:</label>
                            <input type="text" class="form-control"
                                   id="userReviewsAdd" name="userReviewsAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Магазины:</label>
                            <input type="text" class="form-control"
                                   id="userShopAdd" name="userShopAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Избранное:</label>
                            <input type="text" class="form-control"
                                   id="userFavoriteAdd" name="userFavoriteAdd">
                        </div>
                        <div class="form-group marginTop">
                            <label>Скидки:</label>
                            <input type="text" class="form-control"
                                   id="userDiscountAdd" name="userDiscountAdd">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
