<div id="categoryEditForm" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактирование категории</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>ID:</label>
                            <input type="text" class="form-control"
                                   id="categoryIdEdit" name="categoryIdEdit" readonly>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group marginTop">
                            <label>Описание:</label>
                            <input type="text" class="form-control"
                                   id="categoryNameEdit" name="categoryNameEdit">
                        </div>
                    </div>
                </div>
                <div class="modal-footer marginTop">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</div>