<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница модератора</title>
    <link rel="stylesheet" type="text/css" href="css/styleModeratorPage.css" />
    <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'}"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'}"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js'}"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <ul class="navbar-nav" id="navbarText">
        <li>
            <a><b>Страница модератора</b></a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" id="navbarLogout">
        <li class="nav-link">
            <a class="nav-link" href="/">На главную</a>
        </li>
    </ul>
</nav>
<div class="container-fluid justify-start">
    <div class="row align-items-start">
        <div class="mt-4 col-1 sticky-top justify-start" style="width: 100%">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-items-tab" data-toggle="pill" href="#v-pills-items"
                   role="tab"
                   aria-controls="v-pills-items" style="text-align: left" aria-selected="true">Товары</a>
                <a class="nav-link" id="v-pills-shops-tab" data-toggle="pill" href="#v-pills-shops" role="tab"
                   aria-controls="v-pills-shops" style="text-align: left" aria-selected="false">Магазины</a>
                <a class="nav-link" id="v-pills-reviews-tab" data-toggle="pill" href="#v-pills-reviews" role="tab"
                   aria-controls="v-pills-reviews" style="text-align: left" aria-selected="false">Отзывы</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-items" role="tabpanel"
                     aria-labelledby="v-pills-items-tab">
                    <div class="row" id="itemsCards">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-shops" role="tabpanel" aria-labelledby="v-pills-shops-tab">
                    <div class="row" id="shopsCards">
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab">
                    <div class="row" id="reviewsCards">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/ItemModerator.js"></script>
<script src="/js/ShopModerator.js"></script>
<script src="/js/ReviewModerator.js"></script>
</body>
</html>