<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список товаров</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/shops">Магазины</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Избранное</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ещё...</a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="tab-content">
      <div class="card">
        <div class="card-header" >
        </div>
        <div class="card-body">
          <table class="table table-striped border">
            <thead>
            <tr>
              <th>ID</th>
              <th>Логотип</th>
              <th>Название</th>
              <th>Телефон</th>
              <th>E-mail</th>
              <th>Расположение</th>
              <th>Описание</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m :${map}">
              <td th:text="${m.getKey().getId()}"></td>
              <td >
                <img th:src="|data:image/png;base64,${m.getValue()}|" height="100" width="100">
              </td>
              <td th:text="${m.getKey().getName()}"></td>
              <td th:text="${m.getKey().getPhone()}"></td>
              <td th:text="${m.getKey().getEmail()}"></td>
              <td th:text="${m.getKey().getLocation().getName()}"></td>
              <td th:text="${m.getKey().getDescription()}"></td>
              <td>
                <a th:href="@{/api/shop/{id} (id=${m.getKey().getId()})}" class="btn btn-primary btn-sm" >Страница магазина</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>