<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Магазины</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Избранное</a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </div>
</nav>
<!--<div class="row" th:each =" shop : ${shop}">-->
<!--  <img src="/static/img/MVideo_2014.png" class="card-img-top" alt="card-img-top">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title" th:text="${shop.getName()}"></h5>-->
<!--    <p class="card-text" th:text="${shop.getLocation()}"></p>-->
<!--    <p class="card-text" th:text="${shop.getPhone()}"></p>-->
<!--    <p class="card-text" th:text="${shop.getEmail()}"></p>-->
<!--    <p class="card-text" th:text="${shop.getDescription()}"></p>-->
<!--    <p class="card-text"><small class="text-muted" th:text="${shop.getActivity()}"></small></p>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Самый популярный товар</h5>-->
<!--    <p class="card-text" th:text="${shop.getItems()}"></p>-->
<!--    <img src="" class="card-img-bottom" alt="card-img-bottom">-->
<!--  </div>-->
<!--</div>-->
<div class="card-group">
  <div class="card">
    <img src="/static/img/MVideo_2014.png" class="card-img-top" alt="card-group-image" >
    <div class="card-body" th:each =" shop : ${shop}" >
      <h5 class="card-title" th:text="${shop.getName()}"></h5>
          <p class="card-text" th:text="${shop.getLocation()}"></p>
          <p class="card-text" th:text="${shop.getPhone()}"></p>
          <p class="card-text" th:text="${shop.getEmail()}"></p>
          <p class="card-text" th:text="${shop.getDescription()}"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted" th:text="${shop.getActivity()}"></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body" th:each =" item : ${listItems}">
      <h5 class="card-title" th:text="${}"></h5>
      <p class="card-text" th:text="${}"></p>
    </div>
    <img src="/static/img/MVideo_2014.png" class="card-img-top" alt="card-group-image" >
    <div class="card-footer">
      <a class="btn btn-primary" href="/shoppage{id}/item" role="button">Страница товара</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a class="btn btn-primary" href="/shoppage{id}/item" role="button">Список всех товаров</a>
    </div>
  </div>
</div>
</body>
</html>